p{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 14px;
    font-family: 'Bree Serif', serif;
}




/* fundo cinza pag 1 */
.css-ocqkz7 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    gap: 1rem;
    border-radius: 30px;
    background: rgb(240, 238, 238);
}


/* KPI  */

.icon {  
float: right;
font-size:500%;
position: absolute;
top:0rem;
right:-0.3rem;
opacity: .16;
}


#container
{
width: 800px;
display: flex;
}


.kpi-card
{
overflow: hidden;
position: relative;
box-shadow: 1px 1px 3px rgba(0,0,0,0.75);;
display: inline-block;
float: left;
padding: 1em;
border-radius: 0.3em;
font-family: sans-serif;  
width: 240px;
min-width: 180px;
margin-left: 0.5em;
margin-top: 0.5em;
}

.card-value {
display: block;
font-size: 200%;  
font-weight: bolder;
}

.card-text {
display:block;
font-size: 70%;
padding-left: 0.2em;
}

/* Todos os cards juntos */
.card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 0px;
    margin-left: -15px;
    width: 830px;

}